[submodule "althing"]
	path = althing
	url = https://github.com/briatte/althing.git
[submodule "belparl"]
	path = belparl
	url = https://github.com/briatte/belparl.git
[submodule "bgparl"]
	path = bgparl
	url = https://github.com/briatte/bgparl.git
[submodule "eduskunta"]
	path = eduskunta
	url = https://github.com/briatte/eduskunta.git
[submodule "folketinget"]
	path = folketinget
	url = https://github.com/briatte/folketinget.git
[submodule "nationalrat"]
	path = nationalrat
	url = https://github.com/briatte/nationalrat.git
[submodule "parlamento"]
	path = parlamento
	url = https://github.com/briatte/parlamento.git
[submodule "parlamentul"]
	path = parlamentul
	url = https://github.com/briatte/parlamentul.git
[submodule "parlement"]
	path = parlement
	url = https://github.com/briatte/parlement.git
[submodule "riksdag"]
	path = riksdag
	url = https://github.com/briatte/riksdag.git
[submodule "stortinget"]
	path = stortinget
	url = https://github.com/briatte/stortinget.git
[submodule "swparl"]
	path = swparl
	url = https://github.com/briatte/swparl.git
[submodule "seimas"]
	path = seimas
	url = https://github.com/briatte/seimas.git
[submodule "orszaggyules"]
	path = orszaggyules
	url = https://github.com/briatte/orszaggyules.git
[submodule "assembleia"]
	path = assembleia
	url = https://github.com/briatte/assembleia.git
[submodule "nrsr"]
	path = nrsr
	url = https://github.com/briatte/nrsr.git
[submodule "oireachtas"]
	path = oireachtas
	url = https://github.com/briatte/oireachtas.git
[submodule "knesset"]
	path = knesset
	url = https://github.com/briatte/knesset.git
[submodule "parlament"]
	path = parlament
	url = https://github.com/briatte/parlament
